<div class="container text-center">
  <div class="row my-4">
    <div class="col-12">
      <h1>My dBank</h1>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h3 *ngIf="loadedBalance === true">Eth Balance: {{balance}}</h3>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-success btn-sm" (click)="updateBalance()">Actualizar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Depositar">
          <div class="container my-2">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="deposit_amount">Ingrese una cantidad</label>
                  <input type="number"
                         class="form-control"
                         id="deposit_amount" name="quantity"
                         min="0.01" step="0.01" (change)="depositAmount = $event.target.value">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="button" class="btn btn-primary" (click)="depositar()">Depositar</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Retirar">
          <div class="container my-2">
            <div class="row my-4">
              <div class="col-4">
                <button type="button" class="btn btn-success" (click)="retirar()">Retirar</button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
